body {
   height: 100%;
   width: 100%;
   margin: 0;
   background: radial-gradient(#dd5e89, #f7bb97);
}
h1 {
    font-family: 'Playfair Display';font-size: 220px;
    color: white;
    text-shadow: 4px 3px 0px aqua, 9px 8px 0px rgba(0,0,0,0.15);
}
button {
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    height: 150px;
    width: 400px;
    font-size: 75px;
    font-family: 'Open Sans', sans-serif;
    color: #3b0944;
    text-shadow: 2px 2px #97cba9;
    background-color: #fafafa;
    border: none;
    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}
#intro {
    background-repeat: no-repeat;
    height:100vh;
    width: 100%; 
    background-image: url(https://lh3.googleusercontent.com/V4fbkoFVJbxYOSbZsrtgaeio6dII1nO-O05-P2z8UAbXPyD2df1Z6Xn1M3OdQBjQhkKMvtzIb4vNfGISZHIYKjk5SO3NLnN0oBJYwWW4p5OwGqVfGf4RGA19kBrtebCkxIy0PQ1VOg=w2400),   radial-gradient(#dd5e89, #f7bb97);;
    margin: 0;
    background-position: center center;
}

#begin {
    position: relative;
    height: 100vh;

    background: linear-gradient(-45deg, #ee7752, #e73c7e, #153541, #099776);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

#explain {
    background-color: #099776;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    
}

p {
    text-align: center;
    font-family: 'Playfair Display';font-size: 20px;
    color: white;
    text-shadow: grey;
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');




